[defaults]
# Indique à Ansible quel inventaire utiliser par défaut
inventory = ~/my_ansible/hosts.ini

# Évite de taper manuellement le mot de passe sudo à chaque fois (optionnel)
# Si vous préférez la sécurité, laissez à False et utilisez -K
ask_become_pass = True

# utilisateur cible utilisé quand vous activez le mode "become" (sudo).
sudo_user = root

# Désactive la vérification stricte des clés SSH (utile en labo)
host_key_checking = False

# Nombre de connexions simultanées
forks = 5

# Utilise Python 3 par défaut sur les nœuds distants (Ubuntu 18.04)
interpreter_python = /usr/bin/python3
